table {
    width: 40%;
    border-collapse: collapse;
}
tr,td,th {
    border: 1px solid lightblue;
}
th {
    background-color: cornflowerblue;
    color: white;
}
td,th {
    padding: 3px 15px;
}
tr:nth-child(even) {
    background-color: aliceblue;
}
td:nth-child(1) {
    font-weight: bold;
}